{% extends 'base.html' %}
{% block content %}
<div class="jumbotron bg-light p-5 rounded">
    <h1 class="display-4">Добро пожаловать в Mindself</h1>
    <p class="lead">Платформа для психологического самообучения и записи на консультации</p>
    <a href="{% url 'courses_list' %}" class="btn btn-primary btn-lg">Смотреть курсы</a>
    <a href="{% url 'consultations_list' %}" class="btn btn-outline-secondary btn-lg">Консультации</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>Курсы</h3>
        <p>Изучайте психологию с помощью структурированных курсов от практикующего психолога.</p>
    </div>
    <div class="col-md-4">
        <h3>Консультации</h3>
        <p>Оставьте заявку на индивидуальную или семейную консультацию – онлайн или очно.</p>
    </div>
    <div class="col-md-4">
        <h3>Тестирование</h3>
        <p>Проверяйте свои знания после каждого урока и отслеживайте прогресс.</p>
    </div>
</div>
{% endblock %}
